body {
  font-family: "Open Sans", sans-serif;
}

input {
  font-size: 4em;
  width: 100%;
  text-align: center;
}

.swiper {
  display: flex;
  flex-wrap: wrap;
}

.swiper video {
  object-fit: cover;
  width: 25%;
  /* height:100%; */
}

.swiper {
  background: red;
}

.swiper-wrapper {
  background: green;

  /*   height: 300px; */
}